body,
html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	font-family: "viking-normalregular";
	font-weight: normal;
	font-size: 12px;
	color: #424242;
	background-color: #eceeef;
	text-align: center;
}
body.full-screen { overflow: hidden; }

a { text-decoration: none; }
a:focus { outline: 0px; }

h1 {
	font-family: "dalekregular";
	font-size: 3.5em;
	margin: 0;
	padding: 0 50px;
}

footer {
	padding: 30px 20px;
	background-color: #2a0808;
	color: #eceeef;
	text-align: center;
	font-size: 1.5em;
	display: flex;
	flex-wrap: wrap;
	bottom: 0;
}
footer .social-link {
	width: 40px;
	height: 40px;
	border: 1px solid #e1ddd1;
	border-radius: 50%;
	margin: 5px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}
footer a { color: #e1ddd1; }
footer img { width: 100px; }

.mirror { transform: scale(-1, 1); }

section.flexi-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
}

section .container {
	width: 100%;
	height: 100%;
}


.btn-wrapper > span {
	font-size: 1.4em;
	font-family: "mediaeval";
}

button {
	padding: 5px;
	margin: 10px;
	border: 2px solid #bfb4b4;
	border-radius: 20px;
	color: #7f6a6a;
}
button:focus,
button:active,
button:hover,
button:visited { outline: 0; }

button span { pointer-events: none; }

button.btn-level {
	width: 120px;
    height: 120px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 0px;
	border-radius: 100%;
    background-color: transparent;
}
button.btn-level div {
	line-height: 120px;
	border-radius: 100%;
}
button.btn-level div:nth-child(1) {
	font-family: "odins_spear_hollowRg";
	font-size: 4.5em;
	background-color: #d4cdcd;
}
button.btn-level div:nth-child(2) {
	font-size: 1.2em;
	font-family: "viking-normalregular";
	background-color: #2a0808;
}

button.btn-full {
	padding: 10px;
	font-family: "viking-normalregular";
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #d4cdcd;
	box-shadow: 5px 5px 5px;
	transition: all 1s ease;
	position: relative;
	overflow: hidden;
	font-size: 1.5em;
	color: #2a0808;
	width: 100%;
}
button.btn-full > span {
	position: relative;
	transition: all 1s ease;
	margin: 0 20px;
}
button.btn-full:before {
	content: "";
	width: 0%;
	height: 100%;
	background-color: #3f2020;
	position: absolute;
	transition: all 1s ease;
}
button.btn-full::before { left: 0px; }
button.btn-full.loading:before{
	width: 100%;
	left: 0px;
}
button.btn-full.loading > span { color: #d4cdcd; }
button.btn-full:disabled { color: #a99c9c; }

.hidden {
	display: none !important;
}

.col {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.row {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 20px 0px;
}



#homeSection .container {
	display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#homeSection .row {
	justify-content: space-evenly;
	padding: 0px;
}


#gameContainer { height: calc(100% - 173px); }

#gameSection {
	align-content: flex-start;
	color: #7f6a6a;
}

#gameHeader {
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-size: 1em;
}

#gameLevelDescription { font-size: 1.5em; }

#gameActions > button {
	background-color: transparent;
	border: 0;
	border-radius: 0;
	font-size: 1.5em;
	color: #7f6a6a;
	padding: 0;
	margin: 0;
}

#gameTimeElapsed { font-size: 2em; }

#gameGrid {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 350px;
	height: 350px;
}
#gameGrid .row {
	padding: 0;
	justify-content: space-around;
	width: 100%;
}

#gameGrid .card-container,
#gameGrid .card-container .card {
	display: flex;
	justify-content: center;
	align-items: center;
}
#gameGrid .card-container .card {
	width: 90%;
	height: 90%;
}
#gameGrid .card-container.wrong-match { animation: shake 0.5s; }
#gameGrid .card-container .card .card-symbol {
	-webkit-transition: font-size .5s ease;
	-moz-transition: font-size .5s ease;
	-o-transition: font-size .5s ease;
	transition: font-size .5s ease;
}
#gameGrid .card-container .card > div {
	border-radius: 30%;
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
}
#gameGrid .card-container .card div:nth-child(1) { background-color: #2a0808; }
#gameGrid .card-container .card div:nth-child(2) { background-color: #d4cdcd; }
#gameGrid .card-container .card .card-symbol { pointer-events: none; }

.game-grid--level-0 .card-container .card .card-symbol { font-size: 5.8em; }
.game-grid--level-1 .card-container .card .card-symbol { font-size: 3.8em; }
.game-grid--level-2 .card-container .card .card-symbol { font-size: 1.5em; }

.game-grid--level-0 .card-container .card.card-matched .card-symbol { font-size: 6.5em; }
.game-grid--level-1 .card-container .card.card-matched .card-symbol { font-size: 4.5em; }
.game-grid--level-2 .card-container .card.card-matched .card-symbol { font-size: 2em; }



#gameResultSection {
	background-color: rgba(3,3,3,0.5);
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
#gameResultSection .dialog {
	background: white;
	width: 300px;
	max-height: 80%;
	overflow-y: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 30px;
}
#gameResultSection .dialog > h2,
#gameResultSection .dialog > h3 { width: 100%; }

.star {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 50px;
	color: gold;
	text-shadow: 2px 2px 2px orange;
}

.star-outer { position: relative; }
.star-inner {
	position: absolute;
	top: 0;
	left: 0;
	overflow:hidden;
}

/******************************************************************************
 * Flip animation by https://codepen.io/desandro/pen/LmWozd
 ******************************************************************************/
.flip {
	transform-style: preserve-3d;
	transform-origin: center right;
	transition: transform 1s;
}
.flip-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  pointer-events: none;
}
.flip.flip-horizontal.selected { transform: translateX(-100%) rotateY(-180deg); }
.flip.flip-horizontal > .flip-face-back { transform: rotateY(180deg); }

.flip.flip-vertical.selected { transform: rotateX(-180deg); }
.flip.flip-vertical > .flip-face-back { transform: rotateX(180deg); }

@media screen and (min-width: 425px) and (max-width: 768px) {
	#gameResultSection .dialog { width: 80%; }
}

@media screen and (min-width: 425px) {
	button.btn-full { width: 250px; }
}

@media screen and (min-width: 768px) {
	#gameGrid {
		width: 520px;
		height: 520px;
	}

	#gameResultSection .dialog {
		width: 768px;
		height: 100%;
	}

	section .container { width: 768px; }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
